<div class="modal" [ngClass]="{'modal-lg': isLarge}" [id]="id" tabindex="-1" >
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h2>
            {{title}}
          </h2>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <ng-content selected="modal-body">

            </ng-content>
        </div>
      </div>
    </div>
  </div>