.avatar {
  font-size: 16px;
  margin-bottom: 22px;
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  align-items: center;
  text-align: left;
}

.avatar-names {
  display: flex;
  flex-direction: column;
}

.avatar-name {
  margin: 0;
  font-weight: 600;
}

.avatar-second-name {
  margin: 0;
}

.avatar-image {
  width: 50px;
  height: auto;
  overflow: hidden;
  object-fit: cover;
  clip-path: circle();
}

.larger-image {
  width: 60px;
  min-width: 60px;
  height: 70px;
  min-height: 70px;
}

.text-bold {
  font-weight: bold !important;
}

.no-margin {
  margin: 0 !important;
}

.hover {
  background-color: rgba(224, 224, 224, 0.445);
  border-radius: 10px;
}

.no-hover {
    background-color: none;
    border-radius: 0%;
}
